#particles-js {
    width: 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    position: absolute;
    left: 50%;
    top: 400px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

.main-head,
.second-head {
    font-size: 46px;
}

.second-head {
    font-size: 32px;
}

footer {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer_contacts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px;
    margin-bottom: 35px;
}

.footer_block_cities {
    display: flex;
    flex-direction: column;
}

.footer_icon_phone {
    display: flex;
    align-items: center;
}