<div class="text">
    <span class="main-head">Group-IB</span>
    <span class="second-head">Automated network traffic management system</span>
</div>
<div id="particles-js"></div>

<mat-divider></mat-divider>

<footer>
    <div class="footer_contacts">
        <b>Our contacts:</b>
        <span class="footer_icon_phone"><mat-icon>email</mat-icon> <span>info@group-ib.com</span></span>
        <span class='footer_block_cities'>    
          <p><b>Singapore</b></p>
          <span class="footer_icon_phone"><mat-icon>call</mat-icon> <span>+65 3159-3798</span></span>
        </span>
        <span class='footer_block_cities'>
          <p><b>Moscow</b></p>
          <span class="footer_icon_phone"><mat-icon>call</mat-icon> <span>+7 495 984-33-64</span></span>
        </span>
    </div>

    <span class="last_el_footer"> © 2019 Group-IB</span>
</footer>