<div class="text">
    <span class="main-head">IP Routes section</span>
    <span class="second-head">Rent/add/edit/delete your routes</span>
</div>

<mat-divider></mat-divider>

<mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>

<div class="text" *ngIf='dataRoutes.length == 0'>
    <span class="main-head">Nothing to show</span>
    <span class="second-head">Routing table is empty</span>
</div>


<mat-accordion>
    <mat-expansion-panel *ngFor="let vps of dataRoutes">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{vps.hostname}}
            </mat-panel-title>
            <mat-panel-description>
                {{vps.state}}
                <button mat-stroked-button color='primary' (click)='openDialog(vps.hostname)'><mat-icon>add</mat-icon> Add route</button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="example-element-diagram" *ngFor="let el of vps.routes; index as i">
            <mat-card>
                <div class='inner_table'>
                    <span><b>{{i+1}}</b></span>
                    <span><p><b>Destination:</b></p> {{el.destination }} </span>
                    <span><p><b>Source:</b></p> {{el.source }} </span>
                    <span><p><b>Route:</b></p> {{el.route }} </span>
                    <!-- <span class="inner_table_icons_btn"> 
                            <button class="edit_inner_table_btn" mat-flat-button color="primary"> Edit route
                                <mat-icon>edit</mat-icon>
                                </button>
                           </span> -->
                    <span class="inner_table_icons_btn">
                        <button class="delete_inner_table_btn" mat-stroked-button (click)="deleteRoute(el,vps.hostname)"><mat-icon>delete</mat-icon></button>
                        </span>
                </div>
            </mat-card>
        </div>
    </mat-expansion-panel>
</mat-accordion>