<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="example-table-container" *ngIf="dataSource">

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="hostname">
            <th mat-header-cell *matHeaderCellDef> Hostname </th>
            <td mat-cell *matCellDef="let element"> {{element.hostname}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="interface">
            <th mat-header-cell *matHeaderCellDef> Interface </th>
            <td mat-cell *matCellDef="let element"> {{element.interface}} </td>
        </ng-container>

        <!-- IP Column -->
        <ng-container matColumnDef="ip">
            <th mat-header-cell *matHeaderCellDef> IP </th>
            <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
        </ng-container>

        <!-- Location -->
        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element"> {{element.ip_info.region}} - {{element.ip_info.country}} - {{element.ip_info.city}}
            </td>
        </ng-container>

        <!-- Button -->
        <ng-container matColumnDef="route">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"><button mat-stroked-button color="warn" (click)="deleteVps(element.hostname)">Secure delete</button> </td>
        </ng-container>


        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                    <div class="example-element-diagram" *ngFor="let el of element.routes; index as i">
                        <mat-card>
                            <div class='inner_table'>
                                <span><b>{{i+1}}</b></span>
                                <span><p><b>Destination:</b></p> {{el.destination }} </span>
                                <span><p><b>Source:</b></p> {{el.source }} </span>
                                <span><p><b>Route:</b></p> {{el.route }} </span>
                                <span class="inner_table_icons_btn"> 
                                    <button mat-flat-button color="primary">
                                         <button mat-icon-button aria-label="Example icon-button with a heart icon"> <mat-icon>text_format</mat-icon> </button>
                                        </button>
                                   </span>
                                <span class="inner_table_icons_btn"> <button mat-flat-button color="primary">
                                     <button mat-icon-button aria-label="Example icon-button with a heart icon"><mat-icon>delete</mat-icon></button>
                                    </button></span>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


    </table>

</div>