/* Structure */

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 20px;
}

.main-head,
.second-head {
    font-size: 24px;
}

.second-head {
    font-size: 16px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: rgb(209, 209, 209);
    cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.example-element-diagram {
    width: 100%;
    /* margin: 8px 0; */
}

.inner_table {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.inner_table_icons_btn {
    align-self: center;
}

.btns_vps_main {
    color: #3c3c3c;
    padding: 20px;
}


/* 
.add_vps_btn {
    background: #2ecc71;
    margin: 20px 0;
} */

.delete_outer_table_btn {
    color: #E2574C;
}

.edit_outer_table_btn {
    color: #1976f1;
}

.btn_ip {
    float: right;
    padding: 20px;
    line-height: 36px;
}