<div class='wrapper'>

    <div class="inner_wrapper">
        <div class="menu">

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>sort</mat-icon> Menu
  </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink='/routing'>
      <mat-icon>subdirectory_arrow_right</mat-icon>
      <span>Routing table</span>
    </button>
                <button mat-menu-item routerLink='/management'>
      <mat-icon>add</mat-icon>
      <span>VPS management</span>
    </button>

                <button mat-menu-item routerLink='/monitoring'>
      <mat-icon>visibility</mat-icon>
      <span>Monitoring</span>
    </button>
            </mat-menu>

            <a alt="Cyber security consulting company: incident investigation, it security audit, internet security software" class="logo" href="/" title="Group-IB - сyber security assessment and management">Group IB</a>
            <div style="width: 75px;"></div>
        </div>

        <mat-divider></mat-divider>
        <router-outlet></router-outlet>
        <mat-divider></mat-divider>
    </div>

    <footer>
        Contact
        <p>
            <mat-icon>email</mat-icon> info@group-ib.com</p>
        <p>
            <mat-icon>call</mat-icon>
            Singapore +65 3159-3798 </p>
        <p>
            <mat-icon>call</mat-icon> Moscow +7 495 984-33-64</p>
    </footer>
</div>