<h2 mat-dialog-title>Add route</h2>
<div *ngIf="isLoading" style="width: 100%;">
    <h3 mat-dialog-title>Connection establishing...</h3>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-dialog-content *ngIf="!isLoading" class="mat-typography">
    <h3>You can optionally specify destination and source IP address</h3>
    <p>
        <mat-form-field style="width: 100%;" appearance="standard">
            <mat-label>Destination</mat-label>
            <input matInput [formControl]="destinationFormControl" placeholder="0.0.0.0 default">
            <mat-hint>Destination IP address</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field style="width: 100%;" appearance="standard">
            <mat-label>Source</mat-label>
            <input matInput [formControl]="sourceFormControl" placeholder="127.0.0.1">
            <mat-hint>Source IP address</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field style="width: 100%;" appearance="standard">
            <mat-label>Description</mat-label>
            <input matInput [formControl]="descriptionFormControl" placeholder='Description'>
            <mat-hint>Description</mat-hint>
        </mat-form-field>
    </p>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!isLoading" align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="addRoute()" cdkFocusInitial>Add</button>
</mat-dialog-actions>